<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../week-07/css/reset.css">
    <link rel="stylesheet" href="../../week-07/css/common.css">
    <link rel="stylesheet" href="../../week-07/css/content.css">
    <link rel="stylesheet" href="../../week-07/css/header.css">
    <link rel="stylesheet" href="../../week-07/css/side-bar.css">
    <title>Mega Rocket SA</title>
</head>
<body>
    <header class="header">
        <p>Mega Rocket SA</p>
    </header>
    <!--Initial page-->
    <aside class="conteiner-aside">
        <ul>
            <li class="list-aside flex">
                <img src="../../Assets/img/Icon7.png" alt="lupa" class="lupa">
                <input type="Search" value="search" id="search">
            </li>
            <li class="list-aside flex">
                <img src="../../Assets/img/Icon.png" alt="casita" class="aside-item">
                <button class="aside-button">Home</button>
            </li>
            <li class="list-aside flex">
                <img src="../../Assets/img/icon1.png" alt="mas" class="aside-item">
                <a href="../../week-07/views/sign-up.html">
                    <button href="../views/sign-up.html" class="aside-button">Sign Up</button>
                </a>
            </li>
            <li class="list-aside flex">
                <img src="../../Assets/img/icon2.png" alt="personas" class="aside-item">
                <a href="../../week-07/views/login.html">
                    <button class="aside-button">Sign In</button>
                </a>
            </li>
            <li class="list-aside flex">
                <img src="../../Assets/img/icon3.png" alt="cajita" class="aside-item">
                <button class="aside-button">Contact</button>
            </li>
            <h4 id="info">Information</h4>
            <div class="list-info flex">
                <img src="../../Assets/img/icon4.png" alt="msj" class="icon1">
                <p>information@untitle.tld</p>
            </div>
            <div class="list-info flex">
                <img src="../../Assets/img/icon5.png" alt="cel" class="icon1">
                <p>(000)000-0000</p>
            </div>
            <div class="list-info flex">
                <img src="../../Assets/img/icon6.png" alt="casita2" class="icon1">
                <p>1234 Somewhere Road #8254 Nashville TN 0000-0000</p>
            </div>
    </aside>
    <main class="conteiner-main flex">
        <img src="../../Assets/img/hamburg.png" alt="menu-hamb" id="hamburg">
        <h1>Hi, and welcome to Mega Rocket SA Gym</h1>
        <article class="article flex center">
            <img src="../../Assets/img/img1.png" alt="gym" class="img">
            <h2 class="text-line1">A FREE A FULLY RESPONSIVE SITE TEMPLATE</h2>
            <h3 class="text-line2">Aenean ornare velit lacus, ac varius enim ullamcorper eu.
                Proin aliquam facilisis ante interdum congue.
                Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.
                Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
                Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</h3>
        </article>
        <!--Options-->
        <div class="separation"></div>
        <section class="section-option flex center">
        <article class="option flex center">
            <img src="../../Assets/img/image 1.png" alt="sub" class="img1 contein">
            <div class="div-op flex">
            <p class="tittle-op">Appointment Booking</p>
            <p class="info-op">Aenean ornare velit lacus, ac varius enim ullamcorper eu.
                Proin aliquam facilisis ante interdum congue.</p>
            </div>
        </article>
        <article class="option flex center">
            <img src="../../Assets/img/image 11.png" alt="calendar" class="img1 contein">
            <p class="tittle-op">Calendar and Openning Hours</p>
            <p class="info-op">Aenean ornare velit lacus, ac varius enim ullamcorper eu.
                Proin aliquam facilisis ante interdum congue.</p>
        </article>
        <article class="option flex center">
            <img src="../../Assets/img/image 3.png" alt="tarjet" class="img1">
            <div class="div-op flex">
            <p class="tittle-op">Management and Membership</p>
            <p class="info-op">Aenean ornare velit lacus, ac varius enim ullamcorper eu.
                Proin aliquam facilisis ante interdum congue.</p>
            </div>
        </article>
        <article class="option flex center">
            <img src="../../Assets/img/image 4.png" alt="form" class="img1">
            </div>
            <p class="tittle-op">Contact Forms and Suggestions</p>
            <p class="info-op">Aenean ornare velit lacus, ac varius enim ullamcorper eu.
                Proin aliquam facilisis ante interdum congue.</p>
            </div>
        </article>
        </section>
        <div class="separation"></div>
        <!--Form-->
        <p id="regis">Registration and/or claim</p>
        <form action="process.php" method="post" class="form flex center">
            <h3>Name</h3>
            <input type="text" name="name" class="box">
            <h3>Lastname</h3>
            <input type="text" name="lastname" class="box">
            <h3>Email</h3>
            <input type="text" name="email" class="box">
            <div class="select flex column">
                <input type="radio" id="mbsandcst" class="circle">
                <label for="mbsandcst" class="want">I want to know memberships and costs</label>
                <input type="radio" id="qtorsg" class="circle">
                <label for="qtorsg" class="want">I want make a question or suggestion</label>
                <input type="radio" id="claim" class="circle">
                <label for="claim" class="want">I want to make a claim</label>
            </div>
            <h3 id="tittle-coment">Comments</h3>
            <textarea name="message" id="comment"></textarea>
            <div>
                <input type="send" name="send" value="send" id="send">
            </div>
        </form>
        <!--History-->
        <div class="separation"></div>
        <section class="history-section center column">
            <h2 id="tittle-hist">About Us</h2>
            <h4 id="history">Lorem Ipsum is simply dummy text of t
                he printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scr
                ambled it to make a type specimen book.</h4>
        </section>
        <!--Activities-->
            <div class="separation"></div>
                <p id="activities">Activities</p>
            <div class="activitie-option flex center">
            <div class="activities flex center">
                <img src="../../Assets/img/image 10.png" alt="crossfit" class="classes">
                <h5 class="tittle-act">Crossfit</h5>
            </div>
            <div class="activities flex center">
                <img src="../../Assets/img/image 12.png" alt="funcional" class="classes">
                <h5 class="tittle-act">Functional</h5>
            </div>
            <div class="activities flex center">
                <img src="../../Assets/img/image 13.png" alt="boxing" class="classes">
                <h5 class="tittle-act">Boxing</h5>
            </div>
            <div class="activities flex center">
                <img src="../../Assets/img/image 16.png" alt="spinning" class="classes">
                <h5 class="tittle-act">Spinning</h5>
            </div>
            <div class="activities flex center">
                <img src="../../Assets/img/image 14.png" alt="fitness" class="classes">
                <h5 class="tittle-act">Fitness</h5>
            </div>
            </div>
        <!--Membership-->
            <div class="separation"></div>
            <dl>
                <dt class="member-dt flex center column">
                    <p class="member">Black Membership</p>
                </dt>
                <dd class="list-member column">
                    <p>Free access to bodybuilding</p>
                    <p>Free access to clases prior registration</p>
                    <p>Follow-up analyzed by couch</p>
                    <p>Grid Display</p>
                </dd>
            </dl>
            <dl>
                <dt class="member-dt flex center column">
                    <p class="member1">Classic Membership</p>
                </dt>
                <dd class="list-member column">
                    <p>Free access to weight room</p>
                    <p>Personalized monitoring by coach</p>
                    <p>Grid Display</p>
                </dd>
            </dl>
            <dl>
                <dt class="member-dt flex center column">
                    <p class="member2">Only Classes Membership</p>
                </dt>
                <dd class="list-member column">
                    <p>Personalized monitorng by coach</p>
                    <p>Grid Display</p>
                </dd>
            </dl>
    </main>
    <footer class="flex-column flex">
        <nav>
           <a href="snapchat.com"><img src="../../Assets/img/Snapchat.png" alt="snap"></a>
            <a href="whatsapp"><img src="../../Assets/img/WhatsApp.png" alt="wap"></a>
            <a href="facebook.com"><img src="../../Assets/img/Facebook.png" alt="fb"></a>
            <a href="instagram.com"><img src="../../Assets/img/Instagram.png" alt="ig"></a>
            <a href="telegram"><img src="../../Assets/img/Telegram.png" alt="tl"></a>
            <a href="linkedin.com"><img src="../../Assets/img/Vector.png" alt="in"></a>
            <h6>Rosario, Argentina Copyright © 2022 Radium Rocket.
            All rights reserved.</h6>
        </nav>
        <a><img src="../../Assets/img/LOGO-RR 4.png" alt="logo" id="logo-r"></a>
    </footer>
</body>
</html>