<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../week-07/css/reset.css">
    <link rel="stylesheet" href="../../week-07/css/common.css">
    <link rel="stylesheet" href="../../week-07/css/header.css">
    <link rel="stylesheet" href="../../week-07/css/login.css">
    <script src="../../week-07/js/login.js"></script>
    <title>Mega Rocket SA</title>
</head>
<body>
    <header class="header">
        <p>Mega Roket SA</p>
    </header>
    <main class="main-login">
        <a href="../../week-07/views/index.html" class="back1">
            <img src="../../Assets/img/Left.png">
        </a>
        <h1 class="h1-login">Log In</h1>
            <img src="../../Assets/img/LOGO-RR 4.png" alt="logo" id="logo-radium">
        <form action="process.php" method="post" class="form1" id="form1">
            <label for="email">Email</label>
            <input type="text" name="email" class="placeholder1" class="red-border" id="email" >
            <p id="error" class="none error">Must be email format</p>
            <label for="password">Password</label>
            <p class="none error">Must be 8 characters and alphanumeric</p>
            <input type="text" name="password" class="placeholder1" class="red-border" id="password" >
            <div class="select1">
                <input type="radio" id="rememme" class="circle">
                <label for="rm" >Remember me</label>
                <a href="#" class="link">Forgot Paswword?</a>
            </div>
            <div>
                <button type='submit' id="send2">Send</button>
            </div>
            <div class="select1">
                <p>Are you new here?</p>
                <a href="../../week-07/views/sign-up.html" class="link">Register</a>
            </div>
        </form>
    </main>
</body>