<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Rocket SA</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../js/sign-up.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <p>Mega Rocket SA</p>
    </header>
    <a href="./login.html" class="back">
        <img src="../../Assets/img/Left.png">
    </a>
    <main class="main">
        </a>
        <h1 class="h1">Sign Up</h1>
        <form action="process.php" method="post" class="form2">
            <div class="div-form">
                <label for="name">Name</label>
                <input type="text" name="name" class="placeholder" id="name">
                <p class="error none">Must be 3 characters or more</p>
                <label>Lastname</label>
                <input type="text" name="lastname" class="placeholder" id="lastname">
                <p class="error none">Must be 3 characters or more</p>
            </div>
            <div class="div-form">
                <label>DNI</label>
                <input type="text" name="dni" class="placeholder" id="dni">
                <p class="error none">Must be numbers and more 7 numbers</p>
                <label>Date</label>
                <input type="date" name="date" class="placeholder" id="date">
                <p class="error none">Error</p>
            </div>
            <div class="div-form">
                <label>Tel.</label>
                <input type="text" name="telephone" class="placeholder" id="phone">
                <p class="error none">Must be 10 numbers</p>
                <label>Address</label>
                <input type="text" name="address" class="placeholder" id="address">
                <p class="error none">5 characters with letters, numers and spece bettwen</p>
            </div>
            <div class="div-form">
                <label>City</label>
                <input type="text" name="city" class="placeholder" id="city">
                <p class ="error none">Alphanumeric format</p>
                <label>Postal Code</label>
                <input type="text" name="posta" class="placeholder" id="postal-code">
                <p class="error none">Four or five numbers</p>
            </div>
            <div class="div-form">
                <label>Email</label>
                <input type="text" name="email" class="placeholder" id="email">
                <p class="error none">Must be email format</p>
                <label>Password</label>
                <input type="password" name="password" class="placeholder" id="password">
                <p class="error none">Must be 8 characters alphanumeric</p>
                </div>
                <div class="div-form">
                <label>Repeat Password</label>
                <input type="password" name="repeat" class="placeholder" id="password-repeat">
                <p class="error none">Must be 8 characters alphanumeric</p>
            </div>
            <div>
                <a href="#">
                <button type="submit" name="continue" value="continue" id="continue">Register</button>
                </a>
            </div>
        </form>
        <a class="flex">
            <img src="../../Assets/img/LOGO-RR 4.png" alt="logo" id="logo-r">
        </a>
    </main>
</body>