*{
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 117.92px;
    margin-left: 335px;
}

#logo-r{
    position: sticky;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

header{
    position: fixed;
    top: 0%;
    left:0%;
    width: 1700px;
    height: 117.92px;
    background-color: #373867;
}

.mega{  
    color: #FFFFFF;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 47px;
    font-weight: 700;
    color: #FFFFFF;
}

/* Initial page */

.conteiner-aside{
    position: fixed;
    background-color: #F6F6F6;
    width: 335px;
    height: 100%;

}

.list-aside{
    list-style: none;
}

#search{
    margin-left: 25px;
    border-radius: 4px;
    border: none;
    background-color: #FFFFFF;
    color: #ABA9A9;
    width: 255px;
    height: 36px;
    left: 40px;
    top: 16px;
}

.lupa{
    position: absolute;
    right: 40px;
    top: 20px;
}

.icon{
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 20px;  
    margin-right: 20px;
    vertical-align: middle;
}

.button-side{
    display: inline-block;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    left: 66px;
    top: 0px;
    background-color: #AACE9B;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
}


#info{
    margin-left: 50px;
    color: black;
    width: 200px;
    height: 24px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

.information{
    display: inline-block;
    width: 240px;
    height: 27px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}

.icon1{
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 9px;
    padding: 6px;
    vertical-align: middle;
}

h1{
    display: block;
    margin-inline-start: 300px;
    margin-inline-end: 250px;
    width: 600px;
    height: 100px;
    text-align: center;
    color: #373867;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
}

#img{
    margin-left: 200px;
    width: 852px;
    height: 400px;
    padding:5px;
}

.text-line1{
    margin-left: 360px;
    width: 465px;
    height: 75px;
    color: #423C3C;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.text-line2{
    display: block;
    width: 800px;
    height: 220px;
    Left: 300px;
    margin-left: 220px;
    color: #423C3C;
    font-style: normal;
    font-weight: 100;  
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.separation{
    width: 300px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 500px;
   background-color: #BEBEBE;
}

/* Options*/

.art-op{
    display: inline-block;
    width: 220px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 75px;
}

.img1{   
    width: 214px;
    height: 211px;
    top: 1060px;

}

.tittle-op{
    width: 194px;
    height: 16px;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.info-op{
    width: 200px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.separation{
    width: 300px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 500px;
    background-color: #BEBEBE;
}

/* Form */

#regis{
    width: 481px;
    height: 47px;
    margin-inline-start: 400px;
    margin-inline-end: 200px;
    text-align: center;
    color:#373867;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.form{
    width: 35px;
    height: 30px;
    margin-left: 600px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 19px; 
    line-height: 30px;
}

.box{
    width: 386px;
    height: 43px;
    border: none;
    margin-inline-start: 450px;
    background-color: #D9D9D9;
}

.circle{
    width: 20px;
    height: 25px;
    top: 2323px;    
    left: 702px;
    border-color: #34636E;
    margin-left: 450px;
    margin-top: 25px;
    background-color: #FFFFFF;
}

.want{
    width: 260px;
    height: 25px;
    left: 736px;
    top: 2326px;
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 25px;
}

h3{
    width: 30px;
    height: 25px;
    left: 874px;
    margin-left: 470px;
    margin-top: 50px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 25px; 
    line-height: 18px;
}

#comment{
    width: 380px;
    height: 175px;
    margin-left: 455px;
}

#send{
    width: 109px;
    height: 33px;
    margin-top: 15px;
    margin-left: 590px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background-color: #AACE9B;
}

/* History */

.separation{
    width: 300px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #BEBEBE;
    margin-left: 500px;
}

#tittle-hist{
    width: 178px;
    height: 47px;
    left: 800px;
    top: 2962px;
    margin-left: 560px;
    color: #373867;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

#history{
    width: 775px;
    padding: 75px 40px;
    background-color: rgba(170, 206, 155, 0.25);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #2A2A32;
    margin-left: 240px;
    text-align: center;
}

.separation{
    width: 300px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 500px;
    background-color: #BEBEBE;
}

/* Activities*/

#activities{
    width: 178px;
    height: 70px;
    left: 823px;
    top: 3780px;
    margin-left: 565px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color:#373867;
}

.activitie-option{
    display: inline-block;
    width: 30%;
    height: 270px;
    left: 406px;
    top: 3923px;
    margin-left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.separation{
    width: 300px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 500px;
    background-color: #BEBEBE;
}

.member{
    width: 311px;
    height: 40px;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: #2A2A32;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.member1{
    width: 311px;
    height: 40px;
    left: 729px;
    top: 4766px;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 150px;
    background-color: #CCCBCB;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: black;
}

.member2{
    width: 311px;
    height: 40px;
    left: 729px;
    top: 4766px;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: #EDEDED;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: black;
}

.list-member{
    width: 301px;
    height: 19px;
    left: 725px;
    top: 4837px;
    margin-left: 500px;
    font-size: 16px;
}

/* Footer*/

.footer{
    display: inline-block;
    width: 833px;
    height: 60px;
    left: 463px;
    bottom: 75px;
    margin-left: 550px;
    margin-top: 120px;
    padding: 0px;
    text-align: center;
}