@import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap%22");

*{
    font-family: roboto;
}

.conteiner-body{
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main{
    margin-top: 117.92px;
    margin-left: 335px;
}

header{
    position: relative;
    top: 
    width: 1700px;
    height: 117.92px;
    background-color: #373867;
}

.mega{
    text-align: center;
    font-weight: 900px;
    font-size: 47px;
    left: 602px;
    top: 57px;
    color: #FFFFFF;
}

.conteiner-aside{
    position: fixed;
    background-color: #F6F6F6;
    width: 335px;
    height: 100%;
    }

    .list-aside{
        list-style: none;
    }

#search{
    text-align: left;
    position: relative;
    border: none;
    background-color: #FFFFFF;
    color: #ABA9A9;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px; 
    width: 255px;
    height: 36px;
    left: 20px;
    top: 5px;
}

.icon{
    margin-bottom: 25px;
    margin-top: 20px;  
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
}

.button-side{
    background-color: #AACE9B;
    border: none;
    border-radius: 10px;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    width: 200px;
    height: 45px;
    left: 66px;
    top: 0px;
}


#info{
    color: black;
    width: 200px;
    height: 24px;
    left: 50px;
    top: 512px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

.information{
    color: black;
    width: 240px;
    height: 27px;
    left: 71px;
    top: 581px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.icon1{
    width: 30px;
    height: 30px;
    top: 6px;
    left: 9px;
    padding: 6px;
    display: inline-block;
    vertical-align: middle;
}

h1{
    text-align: center;
    color: #373867;
    display: block;
    margin-inline-start: 250px;
    margin-inline-end: 250px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    width: 600px;
    height: 100px;
    font-style: normal;
}

#img{
    margin-left: 150px;
    width: 852px;
    height: 318.03px;
    padding:5px;
}

.text-line1{
    color: #423C3C;
    margin-left: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    width: 500px;
    height: 100px;
}

.text-line2{
    color: #423C3C;
    display: block;
    margin-inline-start: 150px;
    margin-inline-end: 200px;
    font-style: normal;
    font-weight: 100;  
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    width: 800px;
    height: 200px;
    Left: 300px;
}


.art-op{
    display: inline-block;
    width: 220px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 75px;
}

.img1{   
    width: 214px;
    height: 211px;
    top: 1060px;
    left: 1045;
}

.tittle-op{
    color: black;
    width: 194px;
    height: 16px;
    left: 1021px;
    top: 1272px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.info-op{
    width: 200px;
    height: 42px;
    left: 519px;
    top: 1303px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

#regis{
    color:#373867;
    text-align: center;
    margin-inline-start: 400px;
    margin-inline-end: 200px;
    width: 481px;
    height: 47px;
    left: 200px;
    top: 1826px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.form{
    color: black;
    margin-left: 600px;
    width: 35px;
    height: 30px;
    left: 874px;
    top: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px; 
    line-height: 30px;
}

.box{
    background-color: #D9D9D9;
    border: none;
    margin-inline-start: 450px;
    width: 386px;
    height: 43px;
    left: 700px;
    top: 1500px;
}

.circle{
    background-color: #FFFFFF;
    border-color: #34636E;
    margin-left: 450px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    top: 2323px;    
    left: 702px;
}

.want{
    width: 260px;
    height: 23px;
    left: 736px;
    top: 2326px;
    font-style: normal;
    font-weight: 450;
    font-size: 25px;
    line-height: 25px;
}

h3{
    color: black;
    margin-left: 475px;
    width: 30px;
    height: 25px;
    left: 874px;
    top: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px; 
    line-height: 25px;
}

#comment{
    margin-left: 475px;
    width: 364px;
    height: 171px;
    left: 692px;
    top: 2419px;
}

#send{
    background-color: #AACE9B;
    border: none;
    align-items: center;
    width: 109px;
    height: 33px;
    top: 15px;
    margin-left: 610px;

}

