<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link href="../css/login.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/side-bar.css">
    <link href="../js/login.js">
    <title>Mega Rocket SA</title>
</head>
<body>
    <header class="header">
        <p>Mega Roket SA</p>
    </header>
    <main class="conteiner-main flex">
        <a href="../views/index.html">
            <img src="../../Assets/img/Left.png">
        </a>
        <h1>Log In</h1>
        <a class="flex">
            <img src="../../Assets/img/LOGO-RR 4.png" alt="logo" id="logo-r">
        </a>
        <form action="process.php" method="post" class="form flex center">
            <h3>Email</h3>
            <input type="text" name="email" class="box">
            <h3>Password</h3>
            <input type="text" name="password" class="box">
            <div class="select flex">
                <input type="radio" id="rememme" class="circle">
                <label for="rm" >Remember me</label>
                <a href="#" class="link">Forgot Paswword?</a>
            </div>
            <div>
                <input type="send" name="send" value="send" id="send">
            </div>
            <div class="select flex">
                <p>Are you new here?</p>
                <a href="./sign-up.html" class="link">Register</a>
            </div>
        </form>    
    </main>
</body>