*{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

.conteiner-aside .conteiner-main{
    flex-direction: column;
    justify-content: space-between;
}

.column{
    flex-direction: column;
}
.center{
    align-items: center;
    text-align: center;
}


@media (min-width: 601px) {
    .conteiner-main{
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }
}