.conteiner-main{
    flex-direction: column;
    justify-content: center;
}

h1{ 
    margin-inline-start: 20%;
    width: 50%;
    text-align: center;
    color: #373867;
    font-weight: 700;
    line-height: 45px;
    margin-top: 0px;
    font-size: 3rem;
}

.article{
    flex-direction: column;
    align-items: center;
}
.img{
    width: 70%;
    max-width: 852px;
}

.text-line1{
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: #423C3C;
}

.text-line2{
    width: 70%;
    text-align: center;
    font-size: 15px;
    color: #423C3C;
}

.info-op{
    display: none;
}

.section-option{
    flex-direction: column;
}

#regis{
    margin-top: 15%;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #373867;
}
    
.form{
    margin-top: 5%;
    flex-direction: column;
    border: none;
    font-size: 19pcx;
    color:black;
    justify-content: center;
    font-size: 1rem;
}
.box{
    margin-top: 2%;
    background-color: #d9d9d9;
    border: none;
    justify-content: center;
    width: 40%;
    height: 30px;
}

.select{
    flex-wrap:nowrap;
    vertical-align: middle;
    font-size: 1rem;
}

  #h3{
    margin-top: 2%;
    width: 30px;
    font-weight: 400;
    font-size: 25px; 
    color: black;
    text-align: center;
  }

  #comment{
    margin-top: 2%; 
    width: 380px;
    height: 175px;
    align-items: center;
  }

  #send{
    margin-top: 15%;
    text-align: center;
    width: 109px;
    height: 33px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    }

    #tittle-hist{
        color: #373867;
        font-size: 45px;
    }

    #history{
        width: 70%;
        background-color: rgba(170, 206, 155, 0.25);
        color: #2A2A32;
        font-size: 1.5em;
    }

    #activities{
        margin-top: 10%;
        color: black;
        font-size: 2rem;
        text-align: center;
    }

    .activitie-option{
        width: 100%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .tittle-act{
        margin-left: 10%;
    }

    .classes{
        width: 40%;
        height: 55%;
        object-fit: contain;
    }

    .member-dt{
        margin-top: 5%;
        width: 100%
        }

        .list-member{
            margin-top: 5%;
        }

    .member{
        margin-top: 10%;
        width: 90%;
        border-radius: 5px;
        background-color: #2A2A32;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    .member1{
        width: 90%;
        border-radius: 5px;
        background-color: #CCCBCB;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: black;
    }

    .member2{
        width: 90%;
        border-radius: 5px;
        background-color: #EDEDED;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: black;
    }

     @media (min-width:600px){
     }
     
    @media (min-width: 1024px) {
        .conteiner-main{
            margin-top: 10%;
            flex-direction: column;
            justify-content: center;
            margin-left: 30%; 
        }
    
        .info-op{
            text-align: center;
            display: block;
        }

        .div-op{
            flex-direction: column;

        }

        .option{
            flex-direction: column;
            width: 35%;
        }

        .section-option{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        .activitie-option{
            display: inline-block;
            width: 30%;
        }

        #logo-r{
            position: fixed;
            left: 90%;
            bottom: 5%;
        }
    }   




