.conteiner-main{
    flex-direction: column;
    justify-content: center;
}

#hamburg{
    position: fixed;
    right: 90%;
    bottom: 90%;
    top: 10%;
}

h1{ 
    margin-inline-start: 20%;
    width: 50%;
    text-align: center;
    color: #373867;
    font-weight: 700;
    line-height: 45px;
    margin-top: 0px;
    font-size: 3rem;
}

.article{
    flex-direction: column;
    align-items: center;
}
.img{
    width: 70%;
    max-width: 852px;
}

.text-line1{
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: #423C3C;
}

.text-line2{
    width: 70%;
    text-align: center;
    font-size: 15px;
    color: #423C3C;
}

.separation{
    width: 200px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 150px;
    background-color: #BEBEBE;
}

.info-op{
    display: none;
}

.section-option{
    flex-direction: column;
}

#regis{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #373867;
}
    
.form{
    margin-top: 5%;
    flex-direction: column;
    border: none;
    font-size: 19pcx;
    color:black;
    justify-content: center;
    font-size: 1rem;
}
.box{
    margin-top: 2%;
    background-color: #d9d9d9;
    border: none;
    justify-content: center;
    width: 40%;
    height: 30px;
}

.select{
    margin-top: 5%;
}
.circle{
    float: left;
    width: 12px;
    height: 12px;
}

.want{
    flex-direction: column;
    line-height: 18px;
    font-size: 1.2rem;
    margin-left: 5%;

}

  #tittle-coment{
    margin-top: 2%;
    width: 20%;
    font-weight: 500;
    font-size: 1rem; 
    color: black;
    margin-right:45%;
  }

  #comment{
    margin-top: 2%; 
    width: 380px;
    height: 175px;
    align-items: center;
  }

  #send{
    margin-top: 15%;
    text-align: center;
    width: 109px;
    height: 33px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    }

.separation{
    width: 200px;
    height: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 150px;
    background-color: #BEBEBE;
}
    #tittle-hist{
        margin-top: 10%;
        color: #373867;
        font-size: 45px;
    }

    #history{
        width: 70%;
        background-color: rgba(170, 206, 155, 0.25);
        color: #2A2A32;
        font-size: 1.5em;
    }

    .separation{
        width: 200px;
        height: 5px;
        margin-top: 75px;
        margin-bottom: 75px;
        margin-left: 150px;
        background-color: #BEBEBE;
    }

    #activities{
        margin-top: 10%;
        color: black;
        font-size: 2rem;
        text-align: center;
    }

    .activitie-option{
        gap: 15px;  
        width: 100%;
        flex-direction: column;    
    }

    .activities img{
        width: 200px;
        height: 195px;
        object-fit: contain;
    }

    .separation{
        width: 200px;
        height: 5px;
        margin-top: 75px;
        margin-bottom: 75px;
        margin-left: 150px;
        background-color: #BEBEBE;
    }

    .member-dt{
        margin-top: 5%;
        width: 100%
    }

    .list-member{
        margin-top: 5%;
    }

    .member{
        margin-top: 10%;
        width: 35%;
        border-radius: 5px;
        background-color: #2A2A32;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    .member1{
        width: 35%;
        border-radius: 5px;
        background-color: #CCCBCB;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: black;
    }

    .member2{
        width: 35%;
        border-radius: 5px;
        background-color: #EDEDED;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: black;
    }

    footer{
    gap:20px;
    margin-top: 5%;
    margin-left: 10%;
    }

    #logo-r{
        position: absolute;
        margin-top: 10%;
       right: 45%;
    }

     @media (min-width:600px){
        .footer{
            margin-left: 35%;
        }
        #logo-r{
            position: fixed;
            left: 90%;
            bottom: 5%;
        }
     }
     
    @media (min-width: 1024px) {
        .conteiner-main{
            margin-top: 10%;
            flex-direction: column;
            justify-content: center;
            margin-left: 30%; 
        }
        #hamburg{
            display: none;
        }
    
        .info-op{
            text-align: center;
            display: block;
        }

        .div-op{
            flex-direction: column;

        }

        .option{
            flex-direction: column;
            width: 35%;
        }

        .section-option{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        .activitie-option{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .activities img{
            width: 230px;
            height: 190px !important;
        }
        .activities{
            flex-direction: column;
        }

        .separation{
            width: 300px;
            height: 5px;
            margin-top: 75px;
            margin-bottom: 75px;
            margin-left: 350px;
            background-color: #BEBEBE;
        }

        #logo-r{
            position: fixed;
            left: 90%;
            bottom: 5%;
        }   
    }

