header{
    display: none;
    width: 100%;
    height: 115px;
    background-color: #373867;
    color: #FFFFFF;
    font-size: 33px ;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .header{
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        height: 115px;
        background-color: #373867;
        color: #FFFFFF;
        font-size: 33px;
        justify-content: center;
        align-items: center;
    }
}
