.conteiner-aside{
    background-color: #F6F6F6;
    margin: 0;
    width: 300px;
    height: 100%;
}

#search{
width: 200px;
height: 30px;
background-color: #ffffff;
justify-content: left;
}

.list-aside{
    flex-direction: column;
    list-style: none;
}

.aside-button{
    margin-top: 10px;
    width: 100px;
    height: 27px;
    border-radius: 6px;
    border: none;
    background-color: #AACE9B;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.aside-item{
    float: left;
    margin-top: 10px;
    width: 25px;
    height: 23px;
}

.list-info{
    flex-direction: column;
    width: 200px;
    height: 15px;
    text-align: center;
}

.icon1{
    margin-top: 8px;
    width: 30px;
    height: 30px;
    float: left;
}
