.conteiner-aside{
    background-color: #F6F6F6;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search{
width: 200px;
height: 30px;
background-color: #ffffff;
justify-content: left;
}

.list-aside{
    align-items: center;
    height: 10%;
    list-style: none;
    margin-bottom: 4%;
}

.aside-button{
    width: 45%;
    height: 100%;
    border-radius: 6px;
    border: none;
    background-color: #AACE9B;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.aside-item{
    float: left;
    width: 25px;
    height: 23px;
}

.list-info{
    width: 200px;
    height: 70px;
    text-align: center;
    align-items: center;
}

.icon1{
    margin-top: 8px;
    width: 30px;
    height: 30px;
    float: left;
}

